body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#main-container {
	width: 95%;
	margin: auto;
	text-align: center;
}

#main-container:after {
	content: "";
	display: block;
	clear: both;
}

.tab-pane {
	padding: 50px;
}

.feature-container {
	width: 98%;
	padding: 5%;
	margin: auto;
	background: white;
	text-align: center;
}

.tabheight {
	height: 135px;
}

.nav-tabs>li.active a.web, .nav-tabs>li.active a.web:focus, .nav-tabs>li.active a.web:hover, .web {
	background-color: #4FC7FF !important;
	border: #4FC7FF !important;
	color: white;
}

.nav-tabs>li a.ios, .nav-tabs>li a.ios:focus, .nav-tabs>li a.ios:hover, .ios {
	background-color: #F4D03F !important;
	border: #F4D03F !important;
	color: white;
}

.nav-tabs>li a.android, .nav-tabs>li a.android:focus, .nav-tabs>li a.android:hover, .android {
	background-color: #03C9A9 !important;
	border: #03C9A9 !important;
	color: white;
}

.nav-tabs > li > a {
	margin-right: 0;
}

.nav-tabs > li {
	width: 33.3333333333333333%;
}

.col-md-4 img {
	width: 100%;
	padding-bottom: 30px;
}


.tabtitle {
	color: white;
	display: inline;
}

.tabdescription {
	color: white;
	font-size: 1.2em;
	margin-bottom: 10px;
	padding: 10px 20px;
}

.sectionheader {
	color: black;
	padding-bottom: 30px;
}

.sectiontitle {
	color: black;
	padding-bottom: 30px;
}