body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#main-container {
	width: 95%;
	margin: auto;
	text-align: center;
}

#main-container:after {
	content: "";
	display: block;
	clear: both;
}

.tab-pane {
	padding: 50px;
}

.feature-container {
	width: 98%;
	padding: 5%;
	margin: auto;
	background: white;
	text-align: center;
	margin-bottom: 60px;
}

.tabheight {
	height: 135px;
}

.bottomtab {
	height: 260px;
}

.nav-bottom > li > a{
	padding: 70px 10px;
}

.nav-tabs>li.active a.web, .nav-tabs>li.active a.web:focus, .nav-tabs>li.active a.web:hover, .web {
	background-color: #4FC7FF !important;
	border: #4FC7FF !important;
	color: white;
}

.nav-tabs>li a.ios, .nav-tabs>li a.ios:focus, .nav-tabs>li a.ios:hover, .ios {
	background-color: #F4D03F !important;
	border: #F4D03F !important;
	color: white;
}

.nav-tabs>li a.android, .nav-tabs>li a.android:focus, .nav-tabs>li a.android:hover, .android {
	background-color: #03C9A9 !important;
	border: #03C9A9 !important;
	color: white;
}

.nav-tabs > li > a {
	margin-right: 0;
	border-radius: inherit;
}

.nav-tabs > li {
	width: 33.3333333333333333%;
}

.col-xs-12 img, .col-sm-12 img, .col-md-3 img, .col-md-4 img {
	width: 100%;
}

.col-md-3, .col-md-4 {
	padding-bottom: 30px;
}


.tabheader {
	color: white;
	display: inline;
	font-size: 25px;
	h3 {
		display: inline;
	}
}

.tabdescription {
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	padding: 10px 20px;
}

.featureheader {
	color: black;
	padding-bottom: 30px;
}

.featurecontent {
	color: black;
	padding-bottom: 30px;
}

.totalcost {
	width: 100%;
	height: 150px;
	text-align: initial;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 1%;
}

.desktop-img {
	display: block;
}

.mobile-img { 
	display: none;
}

.fa-fw {
	width: 2em;
	text-align: center;
}

/*  RESPONSIVE DESIGN   */

@media screen and (max-width: 992px) {
	.main-container {
		width: 760px;
	}

	.tab-pane {
		padding: 20px;
	}

	.tabheader {
		h3 {
			font-size: 0.5em;
		}
	}

	.tabdescription {
		padding: 10px 10px;
		p {
			font-size: 0.6em;
		}

	}

	.fa-fw {
		width: 1em;
		text-align: center;
	}

	.feature-container {
		width: 100%;
	}

	.feature {
		background-color: #e3e3e3;
		padding: 10px;
		border-radius: 2px;
		text-align: left;
		margin-bottom: 10px;
	}

	.mobile-img {
		width: 20% !important;
		float: left;
		display: block;
	}

	.desktop-img {
		display: none;
	}

	.featureheader {
		color: rgb(67, 74, 84);

		h1 {
			font-size: 21px;
			margin-top: 0;
		}
	}


	.featurecontent {
		float: right;
		width: 75%;
		color: black;
		font-size: 1.2em;
	}
}

