<div id="main-container">
	<h1>Estimate My App</h1>
	<p>By Kiko</p>
	<h3>Select the items below which best describe your app and the features you require.</h3>
	<p>All estimates are approximate but should give you a rough idea of what it will take to build your app.</p>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#web" aria-controls="web" class="web tabheight" role="tab" data-toggle="tab">
				 <i class="fa fa-desktop fa-fw"></i> Web
				<p class="description">A web app or a 
					<br> 
					back-end to a mobile app
				</p>
			</a>
		</li>
		<li role="presentation">
			<a href="#ios" aria-controls="ios" class="ios tabheight" role="tab" data-toggle="tab">
			 <i class="fa fa-desktop fa-fw"></i>iOS
				<p class="description">An iPhone/iPad app <br> (Excluding back-end)</p>
			</a>
		</li>
		<li role="presentation">
			<a href="#android" aria-controls="android" class="android tabheight" role="tab" data-toggle="tab">
				<i class="fa fa-desktop fa-fw"></i>Android
				 <p class="description">An Android Phone/Tablet app <br> (Excluding back-end)</p>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active web" id="web">
			<div class="feature-container">
				<h1>1. How big is your app?</h1>

				<div class="row">
					<div class="col-md-4">
						<p>Small</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Medium</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Large</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane ios" id="ios">
			<div class="feature-container">
				<h1>1. How big is your app?</h1>

				<div class="row">
					<div class="col-md-4">
						<p>Small</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Medium</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Large</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane android" id="android">
			<div class="feature-container">
				<h1>1. How big is your app?</h1>

				<div class="row">
					<div class="col-md-4">
						<p>Small</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Medium</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
					<div class="col-md-4">
						<p>Large</p>
						<img src="https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png" alt="" class="img-circle">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

